html, body {
  height: 100%;
  margin: 0;
  color: #8EBBFF;
  font-family: 'Lato', 'Verdana', 'Arial', 'Comic Sans MS';
}

body {
  background-color: #24293E;
  padding-top: 80px;
}

header {
  font-size: 24px;
  border-radius: 5px;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px 16px;
  border-bottom: solid;
}

.atext {
  color: #c4dcff;
  font-size: 20px;
  text-decoration: none;
}

.links {
  color: #c4dcff;
  font-size: 18px;
  border-radius: 5px;
  border-color: aqua;
  margin: 1%;
  padding: 0.5%;
  text-decoration: none;
}

a:hover {
  color: aqua;
}

div {
  color: #8EBBFF;
}

.icon {
  max-width: 100%;
  height: auto;
}

.div_images {
  text-align: center;
}

img {
  border-radius: 8px;
  max-width: 100%;
  height: auto;
}

::marker {
  color: #8EBBFF;
  font-size: 1.2vw;
}

a {
  color: #8EBBFF;
  font-size: 18px;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  top: 0;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: #8EBBFF;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  border-radius: 15px;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #8EBBFF;
  color: #24293E;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  border-radius: 15px;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  color: #24293E;
}

.dropdown-content a {
  color: black;
  padding: 10px 12px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  color: #24293E;
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media only screen and (max-width: 768px) {
  body {
    text-align: center;
    font-size: 16px;
  }

  header {
    font-size: 20px;
  }

  .atext {
    font-size: 18px;
  }

  .links {
    font-size: 16px;
  }

  a {
    font-size: 16px;
  }
}
